html {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    height: auto;
    background-image: url("../images/fondou.jpg");
}

.container {
    width: 700px;
    padding: 0px 0px 2rem 0px;
    margin: 150px 340px;
    background-color: rgb(38, 38, 38);
    border-radius: 0.5rem;
}

h1{
    padding: 2rem 3rem;
    color:white;
    text-align: center;
}

.name { 
    text-align: center;
    color: white;
    display: block;
    padding: 1rem;
}

.apartado {
    border-radius: 5rem 1rem;
    margin: 0.5rem 16.5rem;
    color: black;
    display: block;
}
